html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#display {
  height: 20%;
  width: 30%;
  position: fixed;
  display: flex;
  align-items: space-around;
  right: 0;
  top: 0;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

#currentPort, #nextPort {
  width: 100%;
  height: 50%;
}

#viewport {
  height: 256px;
  width: 640px;
  position: relative;
  overflow-x: auto;
  background-image: url(../images/water0.png);
}

#ports {
  width: 0px;
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  height: 32px;
  width: 64px;
  background-image: url(../images/port.png);
}

#ship {
  height: 64px;
  width: 128px;
  position: absolute;
  background-image: url(../images/ship.png);
}

#sailbutton {
  border: 0;
  background-color: #fb3640;
  border-bottom: 4px solid #d8040f;
  color: white;
  font-family: 'Press Start 2P', cursive;
  padding: 10px 20px;
  position: sticky;
  top: 250px;
  bottom: 0;
  left: 0;
  width: 100%
}

#sailbutton:focus {
  background-color: #d8040f;
  border-bottom-width: 0;
  padding-top: 14px;
}

#message {
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  height: 18%;
  position: sticky;
  left: 0;
  top: 250px;
  background-color: white;
  color: black;
  font-size: 1em;
  display: flex;
  align-items: center;
  padding-left: 30px;
  bottom: 0;
  border-top: 3px solid black;
}
