html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#viewport {
  height: 256px;
  width: 640px;
  position: relative;
  overflow-x: auto;
  background-image: url(../images/water0.png);
}

#ports {
  width: 0px;
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  height: 32px;
  width: 64px;
  background-image: url(../images/port.png);
}

#ship {
  height: 64px;
  width: 128px;
  position: absolute;
  background-image: url(../images/ship.png);
}

#sailbutton {
  font-family: 'Press Start 2P', cursive;
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* position: sticky;
  left: 0; */
  background-color: red;
  color: white;
  font-size: 1em;
}
